.loading::before {
  display: inline-block;
  vertical-align: middle;
  content: ' ';
  width: 0.75em;
  height: 0.75em;
  border: 0.1em solid #999;
  border-top-color: transparent;
  border-radius: 50%;
  animation: loadingspin 1s linear infinite;
  }

  @keyframes loadingspin {
  100% {
      transform: rotate(360deg)
  }
}

*:first-child {
  margin-top: 0;
}

.row {
  margin: 0 0 1em;
}

body > div {
  display: flex;
}

#form {
  padding: 1em;
}

label {
  min-width: 100px;
  display: inline-block;
}

button {
  margin-left: 103px;
}

#profile {
  background: #ddd;
  padding: 1em;
}
